<a href="https://colab.research.google.com/github/ricacero/Datascience300/blob/main/actividad2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejercicio 1 : Listas

Tienen la siguiente lista锯金イ猸

```list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]```

Se desea obtener el siguiente output **pero** usando solo el met贸do ```append```:

```[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]```

In [1]:
list1=[10,20,[300,400,[5000,6000],500],30,40]
print (list1)
print(len(list1))
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]
5

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Ejercicio 2 : Sets
Dados los siguientes conjuntos光解

```s1 = {10, 20, 30, 40, 50}```

```s2 = {30, 40, 50, 60, 70}```

1. Como es posible obtener el siguiente output con alguno de los met贸dos vistos para sets

```{40, 50, 30}```

2. Como es posible obtener el siguiente output con alguno de los met贸dos vistos para sets

```{70, 40, 10, 50, 20, 60, 30}```

3. Extraer todos los elementos de s2 que no estan en s1

In [2]:
s1={10,20,30,40,50}
s2={30,40,50,60,70}
print(s1.intersection(s2))
print(s1.union(s2))
print(s2.difference(s1))

{40, 50, 30}
{70, 40, 10, 50, 20, 60, 30}
{60, 70}

Ejercicio 3: Tuplas
Dada la siguiente tupla扳

tupla=(10, 20, 30, 40, 50)

Responder:

Ordenar la tupla de mayor a menor
Extraer los valores de la tupla en las siguientes variables: a,b,c,d,e
Ahora suponga que tiene la siguiente tupla: tupla_d = (11, [22, 33], 44, 55) Recordando el concepto de inmutabilidad de las tuplas, ser铆a posible poder modificar el valor 22 por 222 o en este caso no se puede?. Justifiquen

In [3]:
tupla=(10,20,30,40,50)
tupla=list(tupla)
tupla.sort(reverse=True) # Organiza
print(tupla)
tupla=tuple(tupla)
print('------------------')
tupla=(10,20,30,40,50)

a=tupla[0]
b=tupla[1]
c=tupla[2]
d=tupla[3]
e=tupla[4]
print(a)
print(b)
print(c)
print(d)
print(e)

print('------------------')

tupla_d=(11,[22,33],44,55)
print(tupla_d)
tupla_d[1][0]='222'
tupla_d

[50, 40, 30, 20, 10]
------------------
10
20
30
40
50
------------------
(11, [22, 33], 44, 55)

(11, ['222', 33], 44, 55)

## Ejercicio 4: Diccionarios

1. Supongan que tienen el siguiente diccionario similar a lo que se obtiene de una API ([texto del enlace](https://www.freecodecamp.org/news/what-is-an-api-in-english-please-b880a3214a82/)) 
```
dict_david = {
    "clase": {
        "estudiante": {
            "nombre": "David",
            "notas": {
                "fisica": 4.9,
                "matematicas": 4.8
            }
        }
    }
}
```

Como se puede obtener el valor respectivo para la llave primaria ```matematicas```モㄢ

2. Con base en el siguiente diccionario, renombrar la llave primaria ciudad por ubicacion ケ♀

```dic_prueba = {
  "nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"
}
```

3. Obtener la llave primaria del valor minimo para el siguiente diccionario 娥У

```
dicc = {
  'Bayesiana': 4.5,
  'Series Tiempo': 4.6,
  'Calculo Actuarial': 4.2
}
```

4. Con base en el siguiente diccionario
```
dict_a = {
    'e1': {'nombre': 'David', 'salario': 12000000},
    'e2': {'nombre': 'Juan', 'salario': 7590000},
    'e3': {'nombre': 'Amir', 'salario': 6787000}
}
```
Reemplazar el valor de 7590000 de Juan por 8000000.

In [4]:
dict_david = {
 "clase": {
     "estudiante": {
         "nombre": "David",
         "notas": {
             "fisica": 4.9,
             "matematicas": 4.8
         }
     }
 }
}
print(dict_david)



print(dict_david['clase']['estudiante']['notas']['matematicas'])

print('-----------------------')


dicc = { "nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"
}
print(dicc)
    
dicc['ubicacion'] = dicc.pop('ciudad')
print(dicc)

print('-----------------------')


dicc1 = {
  'Bayesiana': 4.5,
  'Series Tiempo': 4.6,
  'Calculo Actuarial': 4.2
}

print(dicc1)

valor=dicc1.keys()
valor2=dicc1.values()
valor=list(valor)
print(valor)
valor2=list(valor2)

valor2.sort(reverse=False)
print(valor2)
valor3=valor+valor2
print(valor3)


print('-----------------------')

dict_a = {
 'e1': {'nombre': 'David', 'salario': 12000000},
 'e2': {'nombre': 'Juan', 'salario': 7590000},
 'e3': {'nombre': 'Amir', 'salario': 6787000}
}

print(dict_a)

dict_a['e2']['salario']=800000
print(dict_a)

{'clase': {'estudiante': {'nombre': 'David', 'notas': {'fisica': 4.9, 'matematicas': 4.8}}}}
4.8
-----------------------
{'nombre': 'Juan', 'edad': 25, 'salario': 8000000, 'ciudad': 'Santiago'}
{'nombre': 'Juan', 'edad': 25, 'salario': 8000000, 'ubicacion': 'Santiago'}
-----------------------
{'Bayesiana': 4.5, 'Series Tiempo': 4.6, 'Calculo Actuarial': 4.2}
['Bayesiana', 'Series Tiempo', 'Calculo Actuarial']
[4.2, 4.5, 4.6]
['Bayesiana', 'Series Tiempo', 'Calculo Actuarial', 4.2, 4.5, 4.6]
-----------------------
{'e1': {'nombre': 'David', 'salario': 12000000}, 'e2': {'nombre': 'Juan', 'salario': 7590000}, 'e3': {'nombre': 'Amir', 'salario': 6787000}}
{'e1': {'nombre': 'David', 'salario': 12000000}, 'e2': {'nombre': 'Juan', 'salario': 800000}, 'e3': {'nombre': 'Amir', 'salario': 6787000}}